@import "tailwindcss";

@theme {
  /* This tells Tailwind v4 to use the .dark class on the html tag */
  --font-sans: "Inter", sans-serif;
}

/* This MUST be outside the @theme block in v4 */
@variant dark (&:where(.dark, .dark *));

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}